In [ ]:
# session plan
# Prepare the data for unsupervised learning
# perform the unsupervised learning and log it in the ml flow
# Outline/ prepare a rough blueprint for the streamlit application

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\GIT HUB\GUVI Mini Proj 4\clickstream_venv\E-Commerce-Customer-conversion\df_train_preprocessed_unsupervised_learning.csv')

In [ ]:
# Data pre-processing
# remove the target columns and target encoded columns - done
# Binary encode the target encoded column - done
# remove unique valued columns - done
# find the correlation and remove the ones with high colinearity 
# use correlation, PCA, Forest Isolation

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132379 entries, 0 to 132378
Data columns (total 38 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   model_photography             132379 non-null  int64
 1   page                          132379 non-null  int64
 2   page2_clothing_model_grouped  132379 non-null  object
 3   country_grouped_9             132379 non-null  int64
 4   country_grouped_24            132379 non-null  int64
 5   country_grouped_29            132379 non-null  int64
 6   country_grouped_46            132379 non-null  int64
 7   country_grouped_RARE_GROUP    132379 non-null  int64
 8   page1_main_category_1         132379 non-null  int64
 9   page1_main_category_2         132379 non-null  int64
 10  page1_main_category_3         132379 non-null  int64
 11  page1_main_category_4         132379 non-null  int64
 12  colour_1                      132379 non-null  int64
 13  colour_2                      132379 non-null  int64
 14  colour_3                      132379 non-null  int64
 15  colour_4                      132379 non-null  int64
 16  colour_5                      132379 non-null  int64
 17  colour_6                      132379 non-null  int64
 18  colour_7                      132379 non-null  int64
 19  colour_8                      132379 non-null  int64
 20  colour_9                      132379 non-null  int64
 21  colour_10                     132379 non-null  int64
 22  colour_11                     132379 non-null  int64
 23  colour_12                     132379 non-null  int64
 24  colour_13                     132379 non-null  int64
 25  colour_14                     132379 non-null  int64
 26  location_1                    132379 non-null  int64
 27  location_2                    132379 non-null  int64
 28  location_3                    132379 non-null  int64
 29  location_4                    132379 non-null  int64
 30  location_5                    132379 non-null  int64
 31  location_6                    132379 non-null  int64
 32  month_sin                     132379 non-null  float64
 33  month_cos                     132379 non-null  float64
 34  day_sin                       132379 non-null  float64
 35  day_cos                       132379 non-null  float64
 36  price_transformed_scaled      132379 non-null  float64
 37  order_transformed_scaled      132379 non-null  float64
dtypes: float64(6), int64(31), object(1)
memory usage: 38.4+ MB

In [4]:
df.drop(columns=['Unnamed: 0','year','month','day','model_target_encoded','model_target_encoded_scaled','order_transformed',
                 'price_transformed', 'price','price_2','page2_clothing_model','session_id','country','order'],inplace=True)

In [ ]:
from category_encoders import BinaryEncoder

column_to_encode = 'page2_clothing_model_grouped'

print("---original data shape---")

print(df.head())
print(f"Unique values in '{column_to_encode}': {df[column_to_encode].nunique()}")
print("-" * 30)

## --- 2. Perform Binary Encoding ---

# 1. Initialize the BinaryEncoder
# We specify the columns we want to encode in a list

encoder = BinaryEncoder(cols=[column_to_encode])

# 2. Fit and Transform the data
df_encoded = encoder.fit_transform(df)

## --- 3. Review Results ---

# Get the names of the newly created binary columns
new_binary_cols = [col for col in df_encoded.columns if col.startswith(f'{column_to_encode}_') ] 

print("--- Encoded Data Shape ---")
# print(f"Original columns: {df.shape[1]}")
# print(f"New columns: {df_encoded.shape[1]}")
# print(f"Number of new binary columns: {len(new_binary_cols)}")
print("-" * 30)
print(df_encoded.head())

# The original 'product_id' column is replaced by the new binary columns
print(f"\n new binary columns: {new_binary_cols}")

---original data shape---
   model_photography  page page2_clothing_model_grouped  country_grouped_9  \
0                  1     2                   RARE_GROUP                  0
1                  0     2                          B26                  0
2                  0     1                          C13                  0
3                  0     1                          B11                  0
4                  0     2                          B31                  0

   country_grouped_24  country_grouped_29  country_grouped_46  \
0                   0                   1                   0
1                   0                   1                   0
2                   0                   1                   0
3                   0                   1                   0
4                   0                   1                   0

   country_grouped_RARE_GROUP  page1_main_category_1  page1_main_category_2  \
0                           0                      0                      0
1                           0                      0                      1
2                           0                      0                      0
3                           0                      0                      1
4                           0                      0                      1

   ...  location_3  location_4  location_5  location_6     month_sin  \
0  ...           0           0           0           0  1.224647e-16
1  ...           1           0           0           0  5.000000e-01
2  ...           0           0           1           0 -5.000000e-01
3  ...           0           1           0           0  5.000000e-01
4  ...           0           0           1           0  1.224647e-16

   month_cos   day_sin   day_cos  price_transformed_scaled  \
0  -1.000000 -0.968077 -0.250653                  0.440921
1  -0.866025 -0.651372 -0.758758                  1.060193
2  -0.866025  0.101168 -0.994869                  0.440921
3  -0.866025  0.394356  0.918958                  0.054251
4  -1.000000  0.968077 -0.250653                  1.060193

   order_transformed_scaled
0                  1.244064
1                  0.090166
2                 -0.921746
3                 -0.921746
4                  0.993591

[5 rows x 38 columns]
Unique values in 'page2_clothing_model_grouped': 71
------------------------------
--- Encoded Data Shape ---
Original columns: 38
New columns: 44
Number of new binary columns: 7
------------------------------
   model_photography  page  page2_clothing_model_grouped_0  \
0                  1     2                               0
1                  0     2                               0
2                  0     1                               0
3                  0     1                               0
4                  0     2                               0

   page2_clothing_model_grouped_1  page2_clothing_model_grouped_2  \
0                               0                               0
1                               0                               0
2                               0                               0
3                               0                               0
4                               0                               0

   page2_clothing_model_grouped_3  page2_clothing_model_grouped_4  \
0                               0                               0
1                               0                               0
2                               0                               0
3                               0                               1
4                               0                               1

   page2_clothing_model_grouped_5  page2_clothing_model_grouped_6  \
0                               0                               1
1                               1                               0
2                               1                               1
3                               0                               0
4                               0                               1

   country_grouped_9  ...  location_3  location_4  location_5  location_6  \
0                  0  ...           0           0           0           0
1                  0  ...           1           0           0           0
2                  0  ...           0           0           1           0
3                  0  ...           0           1           0           0
4                  0  ...           0           0           1           0

      month_sin  month_cos   day_sin   day_cos  price_transformed_scaled  \
0  1.224647e-16  -1.000000 -0.968077 -0.250653                  0.440921
1  5.000000e-01  -0.866025 -0.651372 -0.758758                  1.060193
2 -5.000000e-01  -0.866025  0.101168 -0.994869                  0.440921
3  5.000000e-01  -0.866025  0.394356  0.918958                  0.054251
4  1.224647e-16  -1.000000  0.968077 -0.250653                  1.060193

   order_transformed_scaled
0                  1.244064
1                  0.090166
2                 -0.921746
3                 -0.921746
4                  0.993591

[5 rows x 44 columns]

Example of new binary columns: ['page2_clothing_model_grouped_0', 'page2_clothing_model_grouped_1', 'page2_clothing_model_grouped_2', 'page2_clothing_model_grouped_3', 'page2_clothing_model_grouped_4', 'page2_clothing_model_grouped_5', 'page2_clothing_model_grouped_6']

In [8]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132379 entries, 0 to 132378
Data columns (total 44 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   model_photography               132379 non-null  int64
 1   page                            132379 non-null  int64
 2   page2_clothing_model_grouped_0  132379 non-null  int64
 3   page2_clothing_model_grouped_1  132379 non-null  int64
 4   page2_clothing_model_grouped_2  132379 non-null  int64
 5   page2_clothing_model_grouped_3  132379 non-null  int64
 6   page2_clothing_model_grouped_4  132379 non-null  int64
 7   page2_clothing_model_grouped_5  132379 non-null  int64
 8   page2_clothing_model_grouped_6  132379 non-null  int64
 9   country_grouped_9               132379 non-null  int64
 10  country_grouped_24              132379 non-null  int64
 11  country_grouped_29              132379 non-null  int64
 12  country_grouped_46              132379 non-null  int64
 13  country_grouped_RARE_GROUP      132379 non-null  int64
 14  page1_main_category_1           132379 non-null  int64
 15  page1_main_category_2           132379 non-null  int64
 16  page1_main_category_3           132379 non-null  int64
 17  page1_main_category_4           132379 non-null  int64
 18  colour_1                        132379 non-null  int64
 19  colour_2                        132379 non-null  int64
 20  colour_3                        132379 non-null  int64
 21  colour_4                        132379 non-null  int64
 22  colour_5                        132379 non-null  int64
 23  colour_6                        132379 non-null  int64
 24  colour_7                        132379 non-null  int64
 25  colour_8                        132379 non-null  int64
 26  colour_9                        132379 non-null  int64
 27  colour_10                       132379 non-null  int64
 28  colour_11                       132379 non-null  int64
 29  colour_12                       132379 non-null  int64
 30  colour_13                       132379 non-null  int64
 31  colour_14                       132379 non-null  int64
 32  location_1                      132379 non-null  int64
 33  location_2                      132379 non-null  int64
 34  location_3                      132379 non-null  int64
 35  location_4                      132379 non-null  int64
 36  location_5                      132379 non-null  int64
 37  location_6                      132379 non-null  int64
 38  month_sin                       132379 non-null  float64
 39  month_cos                       132379 non-null  float64
 40  day_sin                         132379 non-null  float64
 41  day_cos                         132379 non-null  float64
 42  price_transformed_scaled        132379 non-null  float64
 43  order_transformed_scaled        132379 non-null  float64
dtypes: float64(6), int64(38)
memory usage: 44.4 MB

In [9]:
df_encoded.head()

,model_photography,page,page2_clothing_model_grouped_0,page2_clothing_model_grouped_1,page2_clothing_model_grouped_2,page2_clothing_model_grouped_3,page2_clothing_model_grouped_4,page2_clothing_model_grouped_5,page2_clothing_model_grouped_6,country_grouped_9,...,location_3,location_4,location_5,location_6,month_sin,month_cos,day_sin,day_cos,price_transformed_scaled,order_transformed_scaled
0,1,2,0,0,0,0,0,0,1,0,...,0,0,0,0,1.224647e-16,-1.000000,-0.968077,-0.250653,0.440921,1.244064
1,0,2,0,0,0,0,0,1,0,0,...,1,0,0,0,5.000000e-01,-0.866025,-0.651372,-0.758758,1.060193,0.090166
2,0,1,0,0,0,0,0,1,1,0,...,0,0,1,0,-5.000000e-01,-0.866025,0.101168,-0.994869,0.440921,-0.921746
3,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,5.000000e-01,-0.866025,0.394356,0.918958,0.054251,-0.921746
4,0,2,0,0,0,0,1,0,1,0,...,0,0,1,0,1.224647e-16,-1.000000,0.968077,-0.250653,1.060193,0.993591